<header class="home-header">

    <div class="home-header-logo-buscador">

        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>

        <form class="home-header-buscador" action="/products/buscar" method="GET">
            <input type="text" name="search" placeholder="Buscar productos, marcas">
            <button type="submit" class="submit-button">
                <i class="fas fa-search"></i>
            </button>
        </form>


        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>


    <div class="contenedor-p-nav">

        <nav class="home-header-nav" id="home-header-nav">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="/products/vender">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/users/register">Creá tu cuenta <i class="fas fa-user-alt" style="color: black;"></i></a>
                </li>
                <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt" style="color: black;"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-bag" style="color: black;"></i></a></li>
            </ul>
        </nav>
    </div>

    <div class="home-header-boton">
        <button class="boton-nav" onclick="ocultarNav()"><i class="fas fa-bars"
                style="color: #ffffff;"></i></button>
    </div>

</header>